# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/caixa_premiada?schema=public"

# JWT
JWT_SECRET="sua_chave_secreta_muito_segura_aqui_2024"

# Server
PORT=3001
NODE_ENV=development

# CORS
CORS_ORIGIN="http://localhost:5173"

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# VizzionPay Gateway
VIZZION_PUBLIC_KEY="juniorcoxtaa_m5mbahi4jiqphich"
VIZZION_SECRET_KEY="6u7lv2h871fn9aepj4hugoxlnldoxhpfqhla2rbcrow7mvq50xzut9xdiimzt513"
VIZZION_API_URL="https://api.vizzionpay.com"

# Base URL para webhooks
BASE_URL="http://localhost:3001"